/*Site wide default styling*/
a,p,h1,h2,h3,h4,li {
    font-family: Roboto;
    color: #6aabe3;
    margin: 0;
    padding: 0;
}
body  {
    background-color: #222223;
    margin: 0;
}
.main-container {
	margin-top: 5vw;
	text-align: center;
}
.main-container h1{
	font-size: 8vw;
	padding-bottom: 10vw;
}
.main-container h2{
	font-size: 2vw;
	color: #f97979;
}
.side {
	float: left;
	width: 20%;
}
.main {
	float: left;
	width: 60%;
}
/* Clear floats after the columns */
.main-container:after {
	content: "";
	display: table;
	clear: both;
}
.sorry {
    text-align: center;
}
.sorry p{
    font-size: 0.4vw;
    font-family: Consolas,monospace;
    color: #f97979;
}